/* Import fonts */
@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

/* Universal font and scroll*/
* {
    font-family: Inter;
    scroll-behavior: smooth;
}

/* Variables */
 :root {
    --primary-color: #5BDB94;
    --secondary-color: #05396C;
    --tertiary-color: #2D97FF;
 }

/* Setting up the background color */
body {
    background-color: var(--primary-color);
    position: relative;
}

/* Nav Elements */
.ghost-nav {
    height: 72px;
    background-color: none;
    opacity: 0%;
    position: relative;
    top: -72px;
}

/* Header */
header {
    display:flex;
    justify-content:space-between;
    height: 144px;
    width: 150%;
    overflow-x: hidden;
    background-color: var(--secondary-color);
    position: fixed;
    top: -72px;
    right:0;
    left: 0;
    margin: 0;
    z-index: 3;
}

/* Header box shadow */
header::after {
    box-shadow: 0px 1px 10px #302446;
    content:"";
    height: 100%;
    overflow-x: hidden;
    position: absolute;
    left: -50%;
    top: 100%;
    width: 200%;
    z-index: 10;
}
    
/* Header Title */
h1 {
    height: 72px;
    position: relative;
    left: 5px;
    top: 77px;
    font-size: 58px;
    font-weight:550;
    color: #5BDB94;
    z-index: 1;
}

#desktop-nav {
    position: fixed;
    display: flex;
    flex-direction: horizontal;
    justify-content: space-between;
    width: 50%;
    color: var(--primary-color);
    text-decoration: none;
    font-size: 2rem;
    top: 20px;
    right: 10px;
    
}
 /* Turn off link underline */
#desktop-nav li a, #projects a {
    text-decoration: none;
}

/* Spacer to create margin between content and header*/
#load-up {
    height: 100vh;
    width: 100%;
    background-color: none;
    color: var(--secondary-color);
    margin: 0px;
    z-index: 1;
    display: flex;
    justify-content: start;

}

#load-up p {
    margin-left: 20px;
    margin-bottom: 100px;
    display: flex;
    font-size: 5rem;
    font-weight: 500;
    align-items: flex-end;
}

/* Main Content */
main {
    position: relative;
}

main:after {
    content: url(../../assets/images/background.jpg);
    height: 100vh;
    position:fixed;
    margin: auto;
    background-position: center;
    width:fit-content;
    left: 0;
    right: 0;
    top: 0;
    overflow: hidden;
    align-self: center;
    justify-content: center;
    filter:grayscale(1);
    opacity: 50%;
    z-index: -999
}

/* Cards */
main section {
    display:block;
    margin: 0% 24px 30px 24px;
    padding: 10px;
    height: fit-content;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-size: 1.5rem;
    z-index: 1;
    border-radius: 10px;
}

/* card text */
p {
    position: relative;
    top: 0;
    left: 0;
    z-index: 2;
    font-size: 1.3rem
}

img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

/* About me card */
#picture {
    display: flex;
    flex-direction: column;
    height: fit-content;
}

/* Card Headers */
.header {
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 0;
}

/* Profile Picture*/
#picture img {
    align-self: center;
    opacity: 40%;
    width: 300px;
    border-radius: 50%;
    margin: 5%; 
}


#picture div p {
    margin: 0 8% 8% 8%;

}

/* Make the anchor link the same color */
a {
    color: inherit;
}
#content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#projects {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: auto;
    justify-content: start;
    align-items: center;
    height: inherit;
    width: 100%;
    overflow: hidden;
}
/* Project 1 */


.card0, .card, #project1 {
    margin-left: auto;
    margin-right: auto;
    width:100%;
    background-color: none;
    padding: 0px;
    border-radius: 10px; 
    align-self: center;
}

.container {    
    display: block;
    align-items: space-between;
    background-color: var(--tertiary-color);
    padding: 5px 5px 5px 5px;
    margin: 5px;
    border-radius: 20px;
    flex: 1 1 0;
 }

.sec-pro, .fir-pro {
    margin: auto 0px auto 0px;
    height: 100px;
    width: 100%;
    overflow:hidden;
    border-radius: 20px;
    outline-color: var(--tertiary-color);
    outline-style: solid;
}

.fir-pro {
    height: 200px;
}

.proj-pic {  
    opacity: 50%;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    display: block;
    max-width: 100%;
    width: 100%;
    border-radius: 10px;
}

/* Mouse-hover on projects */
.container:hover .proj-pic {
    opacity: 100%;
    transition-duration: 0.3s;
}

#first-day{
    transform: translateY(0%)
}


h3 {
    color: var(--primary-color);
    width: fit-content;
    background-color: none;
    margin-left:auto;
    margin-right:auto;
    margin-top: 5px;
    margin-bottom: 5px;
    display:block;
    bottom: 50px;
    z-index: 999;
}

/* Contact Card */
#contact {
    height: fit-content;
}

/* Email within contact bubble */
#contact p {
    text-align: center;
    font-size: 1rem;
}

/* Contact Icons */
#icons {
    margin: 20px;
    display: flex;
    justify-content: space-evenly;
    font-size: 2rem;
}

@media all and (min-width: 1024px) {


    #picture, #content {
        margin: auto;
    }

    #flex-respond {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        
    }

    #picture {
        height:inherit;
        display: flex;
        width: 20%;
        margin-right: 20px;
        justify-content: center;
    }

    #content {
        height: 100%;
        width: 50%;
        margin-bottom: auto;
        margin-top: auto;
        padding-right: 30px;
    }

    #projects {
        display: flex;
        flex-direction: row;
        flex-wrap:nowrap;
        margin: 0;
        padding: 10px;
    }

    #contact {
        margin: 0 16% 0 16%;
    }

    .card0 {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 5px;
    }

    #project1{
        display: block;
        height: 100%;
    }

    .container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 0px 0px 10px 5px;
        
    }

    .card {
        height: 100%;
        justify-content: center;
    }
}
*/