/* Import fonts */
@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

/* Universal font and scroll*/
* {
    font-family: Inter;
    scroll-behavior: smooth;
}

/* Variables */
 :root {
    --primary-color: #5BDB94;
    --secondary-color: #05396C;
    --tertiary-color: #2D97FF;
 }

/* Setting up the background color */
body {
    position: relative;
    background-color: var(--primary-color);
}

/* Hidden Nav Targets */
.ghost-nav {
    position: relative;

    height: 72px;
    background-color: none;
    opacity: 0%;

    top: -72px;
}

/* Header */
header {
    position: fixed;
    display:flex;
    justify-content:space-between;
    height: 144px;
    width: 150%;
    overflow-x: hidden;
    background-color: var(--secondary-color);
    top: -72px;
    right:0;
    left: 0;
    margin: 0;
    z-index: 3;
}

/* Header box shadow */
header::after {
    position: absolute;
    box-shadow: 0px 1px 10px #302446;
    content:"";
    height: 100%;
    overflow-x: hidden;
    left: -50%;
    top: 100%;
    width: 200%;
    z-index: 10;
}
    
/* Header Title */
h1 {
    position: relative;
    height: 72px;
    left: 5px;
    top: 77px;
    font-size: 58px;
    font-weight:550;
    color: var(--primary-color);
    z-index: 1;
}

/* Desktop Navigation Menu */
#desktop-nav {
    position: fixed;
    display: flex;
    flex-direction: horizontal;
    justify-content: space-between;
    width: 50%;
    color: var(--primary-color);
    text-decoration: none;
    font-size: 2rem;
    top: 20px;
    right: 10px;
    
}

 /* Turn off nav-link underline */
#desktop-nav li a, #projects a {
    text-decoration: none;
}

/* Spacer to create margin between content and header*/
#load-up {
    display: flex;
    height: 100vh;
    width: 100%;
    background-color: none;
    color: var(--secondary-color);
    margin: 0px;
    z-index: 1; 
    justify-content: start;
}

/* 'Hey there Partner' */
#load-up p {
    display: flex;
    align-items: flex-end;
    margin-left: 20px;
    margin-bottom: 100px;
    font-size: 5rem;
    font-weight: 500;
}

/* Main Content */
main {
    position: relative;
}

/* Page Background*/
main:after {
    content: url(../../assets/images/background.jpg);
    position:fixed;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    align-self: center;
    justify-content: center;
    height: 100vh;
    width:fit-content;  
    overflow: hidden;
    filter:grayscale(1);
    opacity: 50%;
    z-index: -999
}

/* Cards */
main section {
    display:block;
    margin: 0% 24px 30px 24px;
    padding: 10px;
    border-radius: 10px;
    height: fit-content;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-size: 1.5rem;
    z-index: 1;
}

/* card text */
p {
    position: relative;
    top: 0;
    left: 0;
    font-size: 1.3rem;
    z-index: 2;
}

img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

/* About me card */
#about-me {
    display: flex;
    flex-direction: column;
    height: fit-content;
}

/* Card Headers */
.header {
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
}

/* Profile Picture */
#about-me img {
    margin: 5%; 
    width: 300px;
    border-radius: 50%;
    align-self: center;
    opacity: 40%;
}

/*  */
#about-me div p {
    margin: 0 8% 8% 8%;

}

/* Make the anchor link the same color */
a {
    color: inherit;
}

/* Projects card */
#projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Projects contents */
#content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: auto;
    justify-content: start;
    align-items: center;
    height: inherit;
    width: 100%;
    overflow: hidden;
}

/* univ settings for project containers */
.p1container, .p2container, #project1 {
    margin-left: auto;
    margin-right: auto;
    width:100%;
    background-color: none;
    padding: 0px;
    align-self: center;
}

/* wrap for project cards */
.project-wrap {    
    display: block;
    align-items: space-between;
    background-color: var(--tertiary-color);
    padding: 5px 5px 5px 5px;
    margin: 5px;
    border-radius: 20px;
    flex: 1 1 0;
 }

 /* univ setings for project image containers */
.secondary-projects, .first-project {
    margin: auto 0px auto 0px;
    height: 100px;
    width: 100%;
    overflow:hidden;
    border-radius: 20px;
    outline-color: var(--tertiary-color);
    outline-style: solid;
}

/* primary project image container */
.first-project {
    height: 250px;
    outline: none;
}

/* Project Image */
.project-picture {  
    display: block;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    max-width: 100%;
    max-width: 100%;
    border-radius: 10px;
    opacity: 50%;
    filter: grayscale(100)
}

.secondary-projects .project-picture {
    width: 10rem;
}

/* Mouse-hover on projects */
.project-wrap:hover .project-picture {
    opacity: 100%;
    filter: none;
    transition-duration: 0.3s;
}

/* First Project image id */
#first-day{
    height: 100%;
    outline: none;
}

/* Previous works headings */
h3 {
    display:block;
    width: fit-content;
    background-color: none;
    margin-left:auto;
    margin-right:auto;
    margin-top: 5px;
    margin-bottom: 5px;
    bottom: 50px;
    color: var(--secondary-color);
    font-weight: 450;
    z-index: 999;
}

/* Contact Card */
#contact {
    height: min-content;
    margin-bottom: 50px;
}

/* Email within contact bubble */
#contact p {
    margin-top: 10px;
    text-align: center;
    font-size: 1rem;
}

/* Contact Icons */
#icons {
    display: flex;
    margin: 20px;

    justify-content: space-evenly;
    font-size: 2rem;
}


/* Desktop layout media query */
@media all and (min-width: 1024px) {

    /* title -- move right*/
    h1 {
        margin-left: 2%;
    }

    /* nav menu -- move left*/
    #desktop-nav {
        margin-right: 2%;
    }

    /* Moves 'hey there partner' more towards the center of the page */
    #load-up p {
        margin-left: 9%;
        font-size: 4rem;
    }

    /* Margin on about me and projects */
    #about-me, #projects {
        margin: auto;
    }

    /* Make the about me and project sections appear side by side */
    #flex-respond {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 100%;   
    }

    /* resize and position about me */
    #about-me {
        display: flex;
        height:500px;
 
        width: 25%;
        margin-right: 0px;
        margin-left: auto;
        justify-content: center;
    }

    /* rezise and position projects */
    #projects {
        max-height: 100%;
        height: 500px;
        width: min-content;
        margin-bottom: auto;
        margin-top: auto;
        margin-left: 20px;
        margin-right: auto;
        padding-right: 30px;
    }

    /* container for projects redirecting flex */
    #content {
        display: flex;
        flex-direction: row;
        flex-wrap:nowrap;
        margin: auto;
        padding: 10px;
        width: min-content;
    }

    /* make both project containers fit */
    .p1container, .p2container{
        display: flex;
        height: 100%;
   
        align-items: center;
        justify-content: center;
        margin-top: auto;
        margin-bottom: auto;
     
    }

   
    /* container for secondary projects */
    .p2container {
        width: 100%;
        flex-direction: column;
    }

    /* project 1 card */
    #project1{
        display: block;
        height: 100%;
    }

    /* redirects flex direction.
        - wrap holding the primary and secondary project cards */
    .project-wrap {
        display: flex;
        width: max-content;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 0px 0px 10px 5px; 
    }

     /* resize contact card -- extend to edges*/
    #contact {
        margin: 0 0 0 0;
        border-radius: 0px;
        width: 100%;
        padding-bottom: 20px;
    }
}


