.menu-wrap {

}

.menu-wrap .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 57px;
    height: 57px;
    background-color: #2D97FF;
    border-radius: 5px;
    border-width: 0px;
    margin: 8px;
    z-index: 2;
}

.hamburger div {
    width: 80%;
    height: 8px;
    background-color: #05396C;
    border-radius: 4px;
    z-index: 1;
    transition: all 0.4s;
}

.menu-wrap .toggler {
    position: absolute;
    top: 3px;
    right: 3px;
    z-index: 2;
    cursor: pointer;
    width: 61px;
    height: 61px;
    opacity: 0;
}

/*animations*/

/*Toggler animate*/

.menu-wrap .toggler:checked + .hamburger > #top-line { 
        transform: translate(0px, 16px) rotate(135deg) scale(1.2, 1);
        transition: 0.4s ease-out;
}

/*middle-line*/
.menu-wrap .toggler:checked + .hamburger > #middle-line {
    transform: scale(0.1, 1);
    transition: 0.4s ease;

}

/*bottom-line*/
.menu-wrap .toggler:checked + .hamburger > #bottom-line {
    transform: translate(0px, -16px) rotate(-135deg) scale(1.2, 1);
    transition: 0.4s ease-out;
}